@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

html {
    font-family: ubuntu, sans-serif;
    text-align: center;
    
}

body {
    margin: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.637);
    line-height: 100px;
    margin: 0;
}

h2 {
    text-align: center;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.637);
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    flex: 1 200px;
    /* background: aqua; */

}

  button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
    border-radius: 5px;
    background-color: #fff;
    border: rgba(black, 0.5);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.637);
    
  }

img {
    /* flex: 1 auto; */
    max-width: 50%;
    height: auto;
}